@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-image: url("../imgs/app-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.alert {
    background-color: #f8d7da;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    border-radius: 2px solid #721c24;
    color: #721c24;
    font-size: 12px;
    max-width: 60%;
    text-justify: justify;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}