<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/app.css">
    <link rel="stylesheet" href="../static/assets/css/login.css">
    <link rel="stylesheet" href="../static/assets/css/register.css">
    <title>App de Notas</title>
</head>
<body>
    <main id="main-container"></main>
    <footer>App Made By IdkBemja &copy;</footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/assets/js/auth-panels.js"></script>
<script src="../static/assets/js/auth-system.js"></script>
</html>