<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/register.css') }}">
    <title>App de Notas</title>
</head>
<body>
    <main id="main-container"></main>
    <footer>App Made By IdkBemja &copy;</footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" src="{{ url_for('static', filename='assets/js/auth-panels.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='assets/js/auth-system.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='assets/js/jwt.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
</html>